<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createawish</title>
</head>
<body>
<div align="center">
    <h1>Create wish</h1>
    <form action="#" th:action="@{/wishu/home/wishlists/{wishlistID}/addwish(wishlistID=${wishlistID})}" method="post" th:object="${wish}">

    <label>Name</label>
        <input type="text" th:field="*{itemName}"/><br/>

        <label>Price</label>
        <input type="number" th:field="*{price}"> <br/>

        <label>Description</label>
        <textarea rows="5" cols="25" th:field="*{description}"> </textarea> <br/>

        <label>Link</label>
        <input type="text" th:field="*{link}"> <br/>

        <button type="submit">Submit wish</button>
    </form>
</div>
</body>
</html>