<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createawish</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div align="center">
    <h1>Create wish</h1>
    <form th:action="@{/wishu/home/wishes/addwish}" method="post" th:object="${wish}">

        <label>Name</label>
        <input type="text" th:field="*{itemName}"/><br/>

        <label>Price</label>
        <input type="number" th:field="*{price}"> <br/>

        <label>Description</label>
        <textarea rows="5" cols="25" th:field="*{description}"> </textarea> <br/>

        <label>Link</label>
        <input type="text" th:field="*{link}"> <br/>

        <input type="submit" value="Submit" class="btn btn-success"/>
    </form>
</div>
</body>
</html>