<!DOCTYPE html>
<link th:href="@{/wishlistWT.css}" rel="stylesheet">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1 align="center">Welcome to WishU</h1>

<div class="card" th:each="users : ${showUser}">
    <div class="card-body">
        <h5 class="card-title" th:text="${users.email}"></h5>
        <p class="card-text" th:text ="${users.username}"></p>
        <a th:href="@{/wishu/home/{username}(username=${users.email})}"
           class="card-link">Wishlists</a>
        <form class="frontform" th:action="@{/wishu/home/editUser/{id}(id=${users.userId})}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:name="userId" th:value="${userId}"/>
        </form>
    </div>
</div>

<div class="createUser">
    <a th:href="@{/wishu/createUser}">
        <button>Create User</button>
    </a>
</div>

</body>
</html>