<!DOCTYPE html>
<link th:href="@{/wishesWT.css}" rel="stylesheet">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishes</title>
</head>
<body>

<h1 align="center">Wishes</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Wish number</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
        <th scope="col">Tasks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${wishes}">
        <td th:text="${wish.wishID}"/>
        <td th:text="${wish.itemName}"/>
        <td th:text="${wish.price}"/>
        <td th:text="${wish.description}"/>
        <td th:text="${wish.link}"/>
        <td>  <a th:href="@{'/wishu/home/editWish/'+${wish.wishID}}">
            <button type="button" class="btn">Edit wish</button>
        </a>
            <a th:href="@{'/wishu/home/editWish/'+${wish.WishID}}">
                <button type="button" class="btn">Delete wish</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/wishu/home/wishlists/{wishlistID}/addwish(wishlistID=${wishlistID})}">
    <button type="button" class="btn btn.secondary btn-lg btn-block">Add new wish</button>
</a>
<a th:href="@{/wishu/home}">
    <button type="button" class="btn btn-secondary btn-lg btn-block">Return to wishlists</button>
</a>

</body>
</html>