<!DOCTYPE html>
<link th:href="@{/wishlistWT.css}" rel="stylesheet">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>

<h1 align="center">WishU</h1>

<div class="card" th:each="list : ${wishlists}">
    <div class="card-body">
        <h5 class="card-title" th:text="${list.listName}"></h5>
        <p class="card-text">info.</p>
        <a th:href="@{/wishu/wishes/{wishlistID}(wishlistID=${list.wishlistID})}"
           class="card-link">Wishes</a>
        <a th:href="@{/wishu/home/delete/{wishlistID}(wishlistID=${list.wishlistID})}"
           class="card-link">Delete wishlist</a>
    </div>


</div>

</table>
<div class="createWishlist">
    <a th:href="@{/wishu/home/{username}/addwishlist(username=${username})}">
        <button>Create new wishlist</button>
    </a>
    <a th:href="@{/wishu}">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Return to user site</button>
    </a>
</div>
</body>
</html>
